@import "tailwindcss";

body {
  font-family: 'Fredoka', sans-serif;
}

/* Tablet uyumlu temel stiller */
.app {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Comic Sans MS', sans-serif;
}

.touch-button {
  min-width: 100px;
  padding: 15px;
  font-size: 18px;
}

.space-background {
  position: absolute;      /* Sayfada kaydırılmayacak, sabit arka plan */
  width: 100%;         /* Viewport genişliği */
  min-height: 100%;        /* Viewport yüksekliği */
  background-image: url('./assets/background.svg');
  background-size: cover;       /* Tam kaplama */
  background-position: center;  /* Ortala */
  background-repeat: no-repeat;
  z-index: -1;
}